node_modules
.next
out
build
.git
.github
.vscode
.env
.env.local
.env.production
.env.development
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
Dockerfile
.dockerignore
LICENSE
kubernetes.kubeconfig
openapi.json
result.json
tmp_layout.json
tsconfig.tsbuildinfo
_doc/
docs/
logs/
generated/
