
/* @font-face {
  font-family: "GoogleSans";
  src: url("/fonts/google_sans/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/google_sans/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/google_sans/GoogleSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/google_sans/GoogleSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* เพิ่มเติม: หากต้องการรองรับตัวเอียง (Italic) ด้วย สามารถเพิ่มโค้ดด้านล่างนี้ได้ครับ */
@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/google_sans/GoogleSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
} */