@font-face {
  font-family: "LINESeedSansTH";
  src: url("/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("/fonts/LINESeedSansTH_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("/fonts/anuphan/Anuphan-Regular") format("ttf");
  font-weight: 400;
  font-style: normal;
}
