/* Thin */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Extra Light */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Semi Bold */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Extra Bold */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/kanit/Kanit-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}